$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
$dark-dark-gray-color: rgba(12, 12, 12);

.Input {
  height: 2.76rem;
  min-width: 22.82%;
  padding: 0 0 0 1rem;
  border-radius: 0.47rem;
  &--light {
    background-color: $white-color;
    border: 1px solid $dark-color;
  }
  &--dark {
    background-color: $dark-dark-gray-color;
    color: $white-color;
    border: 1px solid $white-color;
  }
}
