$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
//dark-theme
$gray-color: rgba(255, 255, 255, 0.3);
$button-page-dark-collor: rgba(70, 70, 70);
//light-theme
$button-pages-light-collor: rgba(237, 237, 237);

.Pagination {
  display: flex;
  &__angle {
    min-height: 40px;
    min-width: 40px;
    &--double-left {
      border-bottom-left-radius: 7px;
      border-top-left-radius: 7px;
    }
    &--double-right {
      border-bottom-right-radius: 7px;
      border-top-right-radius: 7px;
    }
  }

  &__page {
    min-height: 40px;
    min-width: 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    &--light {
      background-color: $white-color;
      color: $dark-color;
      border: 1px solid $dark-color;
    }
    &--dark {
      background-color: $dark-color;
      color: $white-color;
      border: 1px solid $white-color;
    }
  }
}

button.Pagination__page {
  &.Pagination__page--light:disabled {
    background-color: $dark-color;
    color: $white-color;
  }
  &.Pagination__page--dark:disabled {
    background-color: $white-color;
    color: $dark-color;
  }
}

button.Pagination__page--light:hover:not([disabled]) {
  background-color: $button-pages-light-collor;
  color: $dark-color;
  cursor: pointer;
}

button.Pagination__page--dark:hover:not([disabled]) {
  background-color: $button-page-dark-collor;
  color: $white-color;
  cursor: pointer;
}

.Pagination__angle {
  &:hover:not([disabled]) {
    background-color: $button-page-dark-collor;
    color: $white-color;
    cursor: pointer;
  }
  &.Pagination__page--dark:disabled {
    color: $gray-color;
  }
  &.Pagination__page--light:disabled {
    color: $button-pages-light-collor;
    border: 1px solid $button-pages-light-collor;
  }
}
