.Main {
  padding-top: 35px;
  padding-left: 3.125vw;
  padding-right: 3.125vw;
  min-height: 100vh;
  &--light {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  &--dark {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgb(123, 123, 123);
  border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.1);
  width: 9px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

@media (max-width: 319px) {
  .Main {
    padding-left: 3.125vw;
    padding-right: 3.125vw;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .Main {
    padding-left: 3.125vw;
    padding-right: 3.125vw;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .Main {
    padding-left: 2.8571428571vw;
    padding-right: 2.8571428571vw;
  }
}

@media (max-width: 1365px) and (min-width: 1024px) {
  .Main {
    padding-left: 3.125vw;
    padding-right: 3.125vw;
  }
}

@media (min-width: 1366px) {
  .Main {
    padding-left: 8.3333333333vw;
    padding-right: 8.3333333333vw;
  }
}
