$dark-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
//dark-theme
$gray-color: rgba(255, 255, 255, 0.3);
$dark-dark-gray-color: rgba(12, 12, 12);
//light-theme
$dark-gray-color: rgba(0, 0, 0, 0.3);
$input-light: rgb(239, 239, 239);

.DropoutsInput {
  position: relative;
  min-width: 22.82%;
  &__button {
    display: flex;
    justify-content: space-between;
    border-radius: 0.47rem;
    height: 2.76rem;
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    align-items: center;
    width: 100%;
    font-size: 13px;
    &--light {
      border: 1px solid $dark-color;
    }
    &--dark {
      background: $dark-dark-gray-color;
      border: 1px solid $white-color;
    }
    &--activated {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
    }
  }
  &__arrow {
    padding-bottom: 2px;
  }
  &__content {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 0.8rem;
    border-bottom-left-radius: 0.47rem;
    border-bottom-right-radius: 0.47rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--light {
      border: 1px solid $dark-color;
      border-top: none;
      background: $white-color;
    }
    &--dark {
      background: $dark-dark-gray-color;
      border: 1px solid $white-color;
      border-top: none;
    }
  }
  &__input {
    height: 2.76rem;
    width: 40%;
    padding: 0 0 0 0.55rem;
    margin: 0.63rem;
    border-radius: 0.47rem;
    &--light {
      background-color: $input-light;
    }
  }
}

@media (max-width: 1365px) and (min-width: 1024px) {
  .DropoutsInput__input {
    width: 50%;
  }
}

@media (max-width: 1023px) and (min-width: 320px) {
  .DropoutsInput__content {
    flex-direction: column;
    align-items: center;
  }
  .DropoutsInput__input {
    width: 80%;
  }
}
