.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
    margin-left: 1.09%;
  }
  &__switch {
    margin-right: 1.09%;
    cursor: pointer;
  }
}
