.Filter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
}
@media (max-width: 319px) {
  .Filter {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .Filter {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }
}
